:root{
    --baseMargin:50px;
}



.column{
    width: 50%;
    float: left;

}

#list{
    text-align: right;
    list-style-position: inside;
    margin-right: var(--baseMargin);
}

#table{
    text-align: center;
}

#userInput {
    margin-left: var(--baseMargin);
}

.idColumn,
.startDateColumn{
    background-color: bisque;
}
