:root{
    --baseMargin:50px;
}


.column{
    width: 50%;
    float: left;
}

#list{
    text-align: right;
    list-style-position: inside;
    margin-right: var(--baseMargin);
}

#userInput{
    margin-left: var(--baseMargin);
}


